<form class="form-horizontal" id="rmas">
<fieldset>
<!-- Text input http://getbootstrap.com/css/#forms -->
<div class="form-group">
  <label for="rmsuid" class="control-label col-sm-2 col-md-3">Id</label>
  <div class="col-sm-10 col-md-3">
    <input type="text" class="form-control" name="rmasid" placeholder="enter asset id to remove" required="">
  </div>
</div>
<!-- Button http://getbootstrap.com/css/#buttons -->
<div class="form-group">
  <label class="control-label col-sm-2 col-md-3" ></label>
  <div class="text-center col-sm-10 col-md-3">
      <button type="button"  class="btn btn-danger" aria-label="" onclick="rmasset()">remove</button>
  </div>
</div>


</fieldset>
</form>
<script>
function rmasset(){
      var rmsuc={
        'rmid':$("input[name=rmasid]").val()
    };
    $.post("http://localhost:8080/rest2/webresources/assets/rm?"+EncodeQueryData(rmsuc),
        function(data){
            alert(data);
        }).fail(function (data){
            alert(data);
        });

}    
</script>