<br>
    <button type="button" class="btn btn-primary" onclick="replace('insert/insast',this)">insert asset</button>
    <button type="button" class="btn btn-info" onclick="replace('seek/asts',this)">seek asset</button>
    <button type="button" class="btn btn-danger" onclick="replace('delete/rmass',this)">delete asset</button>
    <button type="button" class="btn btn-success" onclick="replace('update/upasset',this)">update asset</button>
    <button type="button" class="btn btn-warning" onclick="replace('lendast',this)">lend asset</button>
    <button type="button" class="btn btn-inverse" onclick="replace('catchast',this)">collect asset</button>
    